form(method="post")
  fieldset
    legend Login
    p
      label(for="email") Email :
        input(type="text", name="email")
    p
      label(for="password") Password:
        input(type="password", name="password")
    p
      input(type="submit", value="Login !")